!!! 5
html(ng-app='app')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title OAuth 2 Server Admin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(ng-href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css', rel='stylesheet')
    link(ng-href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(ng-href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css', rel='stylesheet')

    link(rel='stylesheet', type='text/css', ng-href='/stylesheets/admin.css')
    
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    script(src='/javascripts/app.js')
    
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  
  body(ng-controller='AdminCtrl')
    header.navbar.navbar-inverse
      .navbar-inner
        h1#title
          a.brand(ng-href='/admin') OAuth 2 Server Admin
         
        button.btn.btn-navbar.visible-phone(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse.visible-phone.mobile-menu
          ul.nav
            li
              a(ng-href='/admin') Home
            li.active
              a(ng-href='/admin/users') Users
            li
              a(ng-href='/admin/clients') Applications

        ul.nav.pull-right.actions
          li.hidden-phone
            input.search(type='text')
          li.settings
            a(ng-href='/admin/settings', role='button')
              i.icon-cog
 
    #sidebar-nav.hidden-phone
      ul#dashboard-menu
        li(ng-class='active')
          .pointer
            .arrow
            .arrow_border
          a(ng-href='/admin')
            i.icon-home
            span Home
        li(class=(menu == 'users' ? 'active' : ''))
          .pointer
            .arrow
            .arrow_border
          a(ng-href='/admin/users')
            i.icon-group
            span Users
        li(class=(menu == 'apps' ? 'active' : ''))
          .pointer
            .arrow
            .arrow_border
          a(ng-href='/admin/clients')
            i.icon-th-large
            span Applications

    .content
      .pointer
        .arrow
        .arrow_border
      .container-fluid(ng-view)
    
    footer.footer
      span.copyright © 2013 My company
        
