extends ../layouts/admin

block content
  #main-stats
    .row-fluid.stats-row
        .span3.stat
          .data
            span.number 2457
            | visits
          span.date Today
        .span3.stat
          .data
            span.number 3240
            | users
          span.date February 2013
        .span3.stat
          .data
            span.number 322
            | orders
          span.date This week
        .span3.stat.last
          .data
            span.number $2,340
            | sales
          span.date last 30 days
