!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title OAuth 2 Server Admin
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='http://detail.herokuapp.com/css/bootstrap/bootstrap-overrides.css', type='text/css', rel='stylesheet')
    
    link(rel='stylesheet', type='text/css', href='http://detail.herokuapp.com/css/elements.css')
    link(rel='stylesheet', type='text/css', href='http://detail.herokuapp.com/css/tables.css')
    link(rel='stylesheet', type='text/css', href='http://detail.herokuapp.com/css/index.css')
    link(rel='stylesheet', type='text/css', href='http://detail.herokuapp.com/css/lib/font-awesome.css');
    link(rel='stylesheet', type='text/css', href='http://detail.herokuapp.com/css/font-awesome.css')
    
    link(rel='stylesheet', href='http://detail.herokuapp.com/css/user-list.css', type='text/css', media='screen')
    link(rel='stylesheet', href='http://detail.herokuapp.com/css/new-user.css', type='text/css', media='screen')
    
    link(rel='stylesheet', type='text/css', href='/stylesheets/admin.css')
    
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
     
    .navbar.navbar-inverse
      .navbar-inner
        h1#title
          a.brand(href='/admin') OAuth 2 Server Admin
         
        button.btn.btn-navbar.visible-phone(type='button', data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .nav-collapse.collapse.visible-phone.mobile-menu
          ul.nav
            li
              a(href='/admin') Home
            li.active
              a(href='/admin/users') Users
            li
              a(href='/admin/applications') Applications

        ul.nav.pull-right
          li.hidden-phone
            input.search(type='text')
          li.settings
            a(href='/admin/settings', role='button')
              span.navbar_icon
          li#fat-menu.dropdown
            a.logout(href='/logout', role='button')
              span.navbar_icon
 
    #sidebar-nav.hidden-phone
      ul#dashboard-menu
        li(class=(menu == 'home' ? 'active' : ''))
          .pointer
            .arrow
            .arrow_border
          a(href='/admin')
            i.icon-home
            span Home
        li(class=(menu == 'users' ? 'active' : ''))
          .pointer
            .arrow
            .arrow_border
          a(href='/admin/users')
            i.icon-group
            span Users
        li(class=(menu == 'apps' ? 'active' : ''))
          .pointer
            .arrow
            .arrow_border
          a(href='/admin/applications')
            i.icon-th-large
            span Applications

    .content
      .pointer
        .arrow
        .arrow_border
      .container-fluid
        block content
        
