#pad-wrapper.list
  .row-fluid.header
    h3 Applications
    .span10.pull-right
      input.span5.search(type='text', placeholder='Type a user name...')
      .ui-dropdown
        .head(data-toggle='tooltip', title='', data-original-title='Click me!')
          | Filter users
          i.arrow-down
        .dialog(style='display: none;')
          .pointer
            .arrow
            .arrow_border
          .body
            p.title
              | Show users where:
            .form
              select
                option Name
                option Email
                option Number of orders
                option Signed up
                option Last seen
              select
                option is equal to
                option is not equal to
                option is greater than
                option starts with
                option contains
              input(type='text')
              a.btn-flat.small Add filter
      a.btn-flat.success.pull-right(href='/admin/clients/new')
        span +
        | NEW APPLICATION
  .row-fluid.table
    table.table.table-hover.table-wrapper
      thead
        tr
          th.span2
            | Id
          th.span3
            | Name
          th.span3
            span.line
            | Title
          th.span2
            span.line
            | Plans Count
          th.span2.align-right
            span.line
            | Actions
      tbody
        tr(ng-repeat='client in clients')
          td 
            a(ng-href="/admin/clients/{{client._id}}") {{client._id}}
          td 
            a(ng-href="/admin/clients/{{client._id}}") {{client.name}}
          td 
            a(ng-href="/admin/clients/{{client._id}}") {{client.title}}
          td.align-right {{client.plans.length}}
          td.align-right
            ul.actions
              li
                a(ng-href="/admin/clients/{{client._id}}")
                  i.icon-eye-open
              li
                a(ng-href="/admin/clients/{{client._id}}/edit")
                  i.icon-pencil
              li.last
                a(ng-click='deleteClient(client)')
                  i.icon-trash
                    
  .pagination.pull-right
    ul
      li
        a(href='http://detail.herokuapp.com/user-list.html#') ‹
      li
        a.active(href='http://detail.herokuapp.com/user-list.html#') 1
      li
        a(href='http://detail.herokuapp.com/user-list.html#') 2
      li
        a(href='http://detail.herokuapp.com/user-list.html#') 3
      li
        a(href='http://detail.herokuapp.com/user-list.html#') 4
      li
        a(href='http://detail.herokuapp.com/user-list.html#') 5
      li
        a(href='http://detail.herokuapp.com/user-list.html#') ›