
#pad-wrapper.user-profile
  .row-fluid.header
    .span8
      h3.span8 {{client.name}}
    .row.ctrls
      a.btn-flat.pull-right.danger.delete(data-toggle='tooltip', title='', data-placement='top', data-original-title='Delete user')
        i.icon-trash
        | Delete
      a.btn-flat.pull-right.edit(ng-href="./{{client._id}}/edit")
        i.icon-pencil
        | Edit
  .row-fluid
    .span12
      .section
        h6 Client Id
        br
        pre {{client._id}}

        h6 Client Secret
        br
        pre {{client.secret}}

      .section
        h6 Plans
        br
        table.table.table-hover
          thead
            tr
              th.span6 Name
              th.span3 Open access
              th.span3 Default Plan
          tbody
            tr(ng-repeat='plan in client.plans')
              td {{plan.name}}
              td.align-center
                i(ng-class="plan.open_access | iconBoolean")
              td.align-center
                i(ng-class="plan.default | iconBoolean")
