#pad-wrapper.list
  .row-fluid.header
    h3 Users
    .span10.pull-right
      input.span5.search(type='text', placeholder='Type a user name or email...', ng-model='filterQuery')
      .ui-dropdown(ng-click='filterUsers()')
        .head 
          | Search Users...
          
      a.btn-flat.success.pull-right(href='/admin/users/new')
        span +
        | NEW USER
  .row-fluid.table
    table.table.table-hover
      thead
        tr
          th.span3.sortable
            | Name
          th.span3.sortable
            span.line
            | Email
          th.span1.sortable
            span.line
            | Admin
          th.span3.sortable
            span.line
            | Created at
          th.span2.sortable.align-right
            span.line
            | Action
      tbody
        tr(ng-repeat='user in users')
          td.with-image
            img.img-circle.avatar.hidden-phone(src="//www.gravatar.com/avatar/{{user.email_md5}}?s=48")
            a.name(ng-href="/admin/users/{{user._id}}") {{user.name}}
          td
            a(ng-href="/admin/users/{{user._id}}") {{user.email}}
          td
            i(class="icon-ok", ng-if="user.is_admin")
          td
            {{ user.created_at }}
          td.align-right
            ul.actions
              li
                a(ng-href="/admin/users/{{user._id}}")
                  i.icon-eye-open
              li
                a(ng-href="/admin/users/{{user._id}}/edit")
                  i.icon-pencil
              li.last
                a(ng-click="remove(user)")
                  i.icon-trash
        
  .pagination.pull-right
    pagination(num-pages="noOfPages", current-page="currentPage", on-select-page="loadRows(page)", previous-text="‹", next-text="›")
