#pad-wrapper.user-profile
  .row-fluid.header
    .span8
      img.img-circle.avatar(src="//www.gravatar.com/avatar/{{user.email_md5}}?s=80")
      h3.name {{user.name}}
    .row.ctrls
      a.btn-flat.pull-right.danger.delete(data-toggle='tooltip', title='', data-placement='top', data-original-title='Delete user')
        i.icon-trash
        | Delete
      a.btn-flat.pull-right.edit(ng-href="/admin/users/{{user._id}}/edit")
        i.icon-pencil
        | Edit
      a.btn-flat.pull-right.info(ng-click='signInWith(user)')
        i.icon-user
        | Sign in with User
  .row-fluid.profile
    .span12
      .section
        h6 Email
        br
        pre.span6  {{user.email}}
      .section
        h6 User UID
        br
        pre.span6  {{user._id}}
      .section
        h6.span6 Subscriptions
        a.btn-flat.success.pull-right(ng-click="createNewSubscription()")
         span + 
         | NEW SUBSCRIPTION
        br
        table.table.table-hover
          thead
            tr
              th App Id
              th Plan Name
              th Allowed
              th Created
              th Expires
              th.align-right Actions
          tbody
            tr(ng-repeat="subscription in subscriptions")
              td 
                a(ng-href="/admin/clients/{{subscription.client_id}}")
                  {{ subscription.client.title }}
              td {{ subscription.plan_name }}
              td
                i(class="icon-ok", ng-if="subscription.allowed")
              td {{ subscription.created_at }}
              td {{ subscription.expires_at }}
              td.align-right
                ul.actions
                  li.last
                    a(ng-click="removeSubscription(subscription)")
                      i.icon-trash
            
            tr(ng-if="showNewSubscriptionForm")
              td
                select(ng-model="newSubscription.client", ng-options="client.title for client in clients", required="required")
              td
                select(ng-model="newSubscription.plan",  ng-options="plan.title for plan in newSubscription.client.plans", required="required")
              td
                input(ng-model="newSubscription.allowed", type="checkbox")
              td
              td
                input(ng-model="newSubscription.expires_at", type="datetime-local")
              td.align-right
                ul.actions
                  li
                    a(ng-click="saveNewSubscription()")
                      i.icon-save
                  li.last
                    a(ng-click="deleteNewSubscription()")
                      i.icon-trash
                
                

