extends ../layout

block content
  #pad-wrapper.new-user
    .row-fluid.header
      h3 Create a new user
    .row-fluid.form-wrapper

      .span9.with-sidebar
        .container
          form(method='post', action='/admin/users/new').new_user_form.inline-input
            .span12.field-box
              label Name:
              input.span9(type='text', name='user[name]', value=user.name)
            .span12.field-box
              label Email:
              input.span9(type='text', name='user[email]', value=user.email)
            .span12.field-box
              label Password:
              input.span9(type='password', name='user[password]')
            .span12.field-box
              label Phone:
              input.span9(type='text')
            .span12.field-box
              label Website:
              input.span9(type='text')
            .span12.field-box
              label Address:
              .address-fields
                input.span12(type='text', placeholder='Street address')
                input.span12.small(type='text', placeholder='City')
                input.span12.small(type='text', placeholder='State')
                input.span12.small.last(type='text', placeholder='Postal Code')
            .span11.field-box.actions
              input.btn-glow.primary(type='submit', value='Create user')
              span OR
              input.reset(type='reset', value='Cancel')

