extends layout

block content
  h1 OAuth 2 Server
  .span4.box
    p
      span.app-title= app.title 
      |  wants to access your account...
    form(method='post', action=authorize_url)
      input(name='subscription_id', type='hidden', value=subscription._id)
      button.btn(name='deny') Deny
      button.btn.btn-primary(name='allow') Allow

